-r requirements.txt
black>=25.1.0
flake8>=7.1.2
mypy>=1.15.0
pytest-cov>=6.0.0
isort>=6.0.1
factory-boy>=3.3.3
faker>=36.2.2
pytest-factoryboy>=2.7.0
pre-commit>=4.1.0
pylint>=3.3.4
flake8-bugbear>=24.12.12
flake8-comprehensions>=3.16.0
types-requests>=2.32.0.20250306
types-PyYAML>=6.0.12.20241230
libcst>=1.6.0
